
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    padding-top: 125px;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    width: 100%;
    margin-top: 20px;
}

.input-login {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

#submit-login {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 30px;
}

#title {
    margin-bottom: 30px;
}

hr {
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#password-alert {
    margin-top: 30px;
}

/* Media query for screens with a maximum width of 768px (typical for tablets and mobiles) */
@media (max-width: 768px) {
    .container {
        padding-bottom: 50px; /* Reduce padding on the container for smaller screens */
    }

    .left-side, .right-side {
        padding-bottom: 50px; /* Reduce padding on sides for smaller screens */
    }

    #login-form {
        margin-top: 50px;
    }
}


.icon {
    font-size: 2em; /* Adjust the size as needed */ 
}

