node_modules
.env
backend/old.index.js
uploads

resources/*
!resources/docker-compose.yml
!resources/mongo-init.js
!resources/Dockerfile

temporary_uploads
__tests__
unit_testing
backend/Workstation_Testing/audios
/resources/mongo-data/
mongo-data
mongosh
resources/mongo-data/.mongodb/mongosh/mongosh_repl_history

/frontend/build
