pycache
__pycache__/
node_modules
.env
backend/old.index.js
uploads
resources/mongo-data/*

testMongo
Workstation_Testing
/resources/mongo-data/
mongo-data
mongosh
resources/mongo-data/.mongodb/mongosh/mongosh_repl_history
