/* Footer.module.css */

.footer {
  background-color: #09283D;
  color: #fafafa;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLinks a,
.footerIcons a {
  color: #fafafa;
  text-decoration: none;
  margin: 5px;
  font-size: 1.5em;
  /* Adjust the font size for icons */
  font-family: 'Roboto', sans-serif;
  /* Apply the custom font */
}

.footerLinks a:hover,
.footerIcons a:hover {
  text-decoration: underline 3px orange;
}

.footerCopyright {
  margin-top: 20px;
}