.tableContainer {
    margin-top: 10px;
  }
  
  .prettyTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .prettyTable th,
  .prettyTable td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .prettyTable thead {
    background-color: #f2f2f2;
  }
  
  .prettyTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .prettyTable tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  .loadingTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px; /* Adjust spacing between page numbers */
  }
  
  .pagination button {
    padding: 5px 10px; /* Adjust padding for better appearance */
    background-color: #f0f0f0; /* Example background color */
    border: 1px solid #ccc; /* Example border color */
    cursor: pointer;
  }

  
.editButton,
.saveButton,
.cancelButton,
.deleteButton,
.downloadButton {
  color: white;
  padding: 8px 16px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editButton:hover,
.saveButton:hover,
.deleteButton:hover,
.cancelButton:hover,
.downloadButton {
  filter: brightness(80%);
}

.editButton {
  background-color: #3498db; /* Blue color */
}

.saveButton {
  background-color: #f39c12; /* Orange color */

}

.cancelButton {
  background-color: #45a049; /* Purple color */
}

.deleteButton {
  background-color: #e74c3c; /* Red color */
}

.downloadButton {
  background-color: #800080; 

}