#sign-out:hover {
    cursor: pointer;
}

.navbar-nav .nav-link {}

/* Link hover styles */
.navbar-nav .nav-link:hover {
    text-decoration: underline 3px orange;
}

/* Responsive styles for mobile */
@media screen and (max-width: 600px) {

    /* Adjust styles for mobile screens here */
    .navbar-nav {
        flex-direction: column;
        /* Stack nav links vertically */
    }

    .navbar-nav .nav-link {
        text-align: center;
        /* Center text for each nav link */
        padding: 10px 0;
        /* Add padding to separate nav links */
        border-bottom: 1px solid #ddd;
        /* Add a border between nav links */
    }

    .navbar-nav .nav-link:last-child {
        border-bottom: none;
        /* Remove border for the last nav link */
    }
}

#main-nav {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000;
}
.navbar-toggler {
    border: none;
    padding: 0; /* Ensure there's no padding that might offset the icon */
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
  }
  
  .navbar-toggler-icon {
    display: block;
    width: 30px; /* Width of the hamburger icon */
    height: 3px; /* Height of the hamburger icon */
    background-color: #fff; /* Color of the hamburger icon */
    position: relative;
    transition: all .3s ease-in-out;
  }
  
  /* Remove the pseudo-elements for the icon */
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: none;
  }