.tableContainer {
    margin-top: 20px;
  }
  
  .prettyTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .prettyTable th,
  .prettyTable td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .prettyTable thead {
    background-color: #f2f2f2;
  }
  
  .prettyTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .prettyTable tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  .loadingTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  